@page "/"
@inject NavigationManager NavManager

<PageTitle>Movie Overview</PageTitle>

<h3>Agenda</h3>

<QuickGrid Items="@movie">
    <PropertyColumn Title="" Property="@(m => m.MovieName)" />
    <TemplateColumn Title="">
        @for(int i = 0; i < context.PlayTime.Count; i++)
        {
            <button onclick="@(() => Redirect(context.MovieId))">@context.PlayTime[i]</button>
        }
    </TemplateColumn>
</QuickGrid>

@code {
    record Movie(int MovieId, string MovieName, List<string> PlayTime);

    IQueryable<Movie> movie = new[]
    {
        new Movie(10895, "Saving Private Henk", ["13:00", "17:00", "19:30", "21:00"]),
        new Movie(10896, "Titonic", ["13:00", "17:00", "19:30", "21:00"]),
        new Movie(10897, "Barry Pooter: Deel achttien", ["13:00", "17:00", "19:30", "21:00"]),
        new Movie(10898, "Nicht Rijder", ["13:00", "17:00", "19:30", "21:00"]),
        new Movie(10899, "Nicht Rijder", ["13:00", "17:00", "19:30", "21:00"]),
        new Movie(10900, "Thermometer 4", ["13:00", "17:00", "19:30", "21:00"]), 
        new Movie(10901, "Matrix Retarded", ["13:00", "17:00", "19:30", "22:00"]), 

    }.AsQueryable();

    void Redirect(int movieId) => NavManager.NavigateTo("/details/{movieId}");
}
