@inject HttpClient Http
@page "/catalog"
<h3>Catalog</h3>

<input type="text" @bind="SearchTerm" @bind:event="oninput" placeholder="Search..." />

<div class="movies-container">
    @foreach (var movie in Movies.Where(m => m.Title.Contains(SearchTerm, StringComparison.OrdinalIgnoreCase)))
    {
        <div class="col-md-4">
            <img src="/images/@movie.Image" class="img-fluid rounded" alt="..." style="max-height: 250px;">
        </div>
    }
</div>


@code {
    List<MovieDto> Movies = new List<MovieDto>();
    string SearchTerm = string.Empty;

    
    protected override async Task OnInitializedAsync()
    {
        Movies = await Http.GetFromJsonAsync<List<MovieDto>>("api/movie");
    }
    
}