<div class="container d-flex justify-content-end text-right">
    <AuthorizeView>
        <Authorized>
            <div>
                Hello, @context.User.Identity!.Name | 
                <a href="#" @onclick="BeginSignOut">@Localizer["LogOut"]</a>
            </div>
        </Authorized>
        <NotAuthorized>
            <a href="authentication/login">@Localizer["LogIn"] / @Localizer["SignUp"]</a>
        </NotAuthorized>
    </AuthorizeView>
</div>
 
@code{
    [Inject] NavigationManager? NavigationManager { get; set; }
    [Inject] public IStringLocalizer<MyStrings> Localizer { get; set; }
    
    private void BeginSignOut(MouseEventArgs args)
    {
        NavigationManager?.NavigateToLogout("authentication/logout");
    }
}