<FluentCard Style="max-width: 600px; margin-bottom: 24px;">
    <h5>@Localizer["MapsTitle"]</h5>
    <p>@Localizer["MapsDetails"]:</p>
    <FluentAnchor Href="https://maps.app.goo.gl/ApcWsGRNtPw1dn8x7" IconStart="@(new Icons.Filled.Size24.Directions())" Target="_blank">
        @Localizer["GetDirections"]
    </FluentAnchor>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2478.8363634893103!2d4.782667212930803!3d51.58956237171472!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c69f7f704bcddd%3A0x39798afaa1dc4718!2sPath%C3%A9%20Breda!5e0!3m2!1sen!2snl!4v1710237199034!5m2!1sen!2snl" width="100%" height="450" style="border:1px solid #f5f5f5; margin-top: 16px" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</FluentCard>

@code {
    [Inject] public IStringLocalizer<MyStrings> Localizer { get; set; }
}
