@using dotnetflix.Models.Dtos.Show
@using System.Globalization

<FluentCard>
    <a href="/tickets/@Show.Id" class="stretched-link text-decoration-none"></a>
    <h5 class="card-title">@StartTime - @EndTime</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">@Show.TheaterName</h6>
    <p class="card-text">@Show.Type</p>
    <p class="card-text">
        <small class="text-body-secondary">From @Price.ToString(format: "C", provider: new CultureInfo("nl-NL")).Replace(".", ",")</small>
    </p>
</FluentCard>

@code {

    // Parameter to be passed to the component
    [Parameter] public ShowDto Show { get; set; } = new ShowDto();
    [Parameter] public string StartTime { get; set; } = "00:00";
    [Parameter] public string EndTime { get; set; } = "00:00";
    [Parameter] public decimal Price { get; set; }
    [Parameter] public string? TicketsLink { get; set; }

    protected override Task OnInitializedAsync()
    {
        // Set Tickets link
        TicketsLink = $"/tickets/{Show.Id}";
        // Convert date to time in 24-hour format
        StartTime = Show.Date.ToString("HH:mm");
        // Get end time by adding screen time to start time
        EndTime = Show.Date.AddMinutes(Show.ScreenTime).ToString("HH:mm");
        // Set price
        if (Show.SneakPreview)
        {
            Price = Show.BasePrice - 2.5m;
        }
        else
        {
            Price = Show.BasePrice;
        }

        return Task.CompletedTask;
    }

}