<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">.NETflix</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-camera-reels-fill" aria-hidden="true"></span>What's on
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="overview">
                <span class="bi bi-ticket-fill" aria-hidden="true"></span>Collect tickets
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="agenda">
                <span class="bi bi-calendar2-check-fill" aria-hidden="true"></span> Agenda
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="catalog">
                <span class="bi bi-calendar2-check-fill" aria-hidden="true"></span> Catalog
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
