<p>Navigate to: </p>

<NavLink href="/manager/movies" class="btn btn-primary">Movies</NavLink>
<NavLink href="/manager/shows" class="btn btn-primary">Shows</NavLink>
<NavLink href="/manager/orders" class="btn btn-primary">Orders</NavLink>
<NavLink href="/manager/tickets" class="btn btn-primary">Tickets</NavLink>
<NavLink href="/manager/tickettypes" class="btn btn-primary">Ticket Types</NavLink>
<NavLink href="/manager/theaters" class="btn btn-primary">Theaters</NavLink>
<NavLink href="/manager/theaterrows" class="btn btn-primary">Theater Rows</NavLink>
<NavLink href="/manager/seats" class="btn btn-primary">Seats</NavLink>
<hr/>

@code {
    
}