<p>Navigate to: </p>

<NavLink href="/manager/movies" class="btn btn-primary">Movies</NavLink>
<NavLink href="/manager/theaters" class="btn btn-primary">Theaters</NavLink>
<NavLink href="/manager/shows" class="btn btn-primary">Shows</NavLink>
<NavLink href="/manager/Seats" class="btn btn-primary">Seats</NavLink>

@code {
    
}