<div>
    <p style="display: inline; margin-right: 8px">Statistics</p>
    <NavLink href="/manager/occupancy" class="btn btn-primary">Occupancy</NavLink>
    <NavLink href="/manager/revenue" class="btn btn-primary">Revenue</NavLink>
</div>
<div class="mt-3">
    <p style="display: inline; margin-right: 8px">Manager</p>
    <NavLink href="/manager/movies" class="btn btn-primary">Movies</NavLink>
    <NavLink href="/manager/shows" class="btn btn-primary">Shows</NavLink>
    <NavLink href="/manager/orders" class="btn btn-primary">Orders</NavLink>
    <NavLink href="/manager/tickets" class="btn btn-primary">Tickets</NavLink>
    <NavLink href="/manager/tickettypes" class="btn btn-primary">Ticket Types</NavLink>
    <NavLink href="/manager/theaters" class="btn btn-primary">Theaters</NavLink>
    <NavLink href="/manager/theaterrows" class="btn btn-primary">Theater Rows</NavLink>
    <NavLink href="/manager/seats" class="btn btn-primary">Seats</NavLink>
  <NavLink href="/manager/supplements" class="btn btn-primary">Supplements</NavLink>
  <NavLink href="/manager/newsletter" class="btn btn-primary">News Letter</NavLink>
</div>
<hr/>

