@page "/manager/shows"
@using System.Net.Http
@using System.Net.Http.Json
@using dotnetflix.Models.Dtos.Show
@inject HttpClient Http
<h3>Manager: Shows</h3>

<NavigationHeader />

@foreach (var show in Shows)
{
    <p>@show.MovieId, @show.TheaterId, @show.Date</p>
}

@code {

    
    List<ShowDto> Shows = new List<ShowDto>();

    protected override async Task OnInitializedAsync()
    {
        Shows = await Http.GetFromJsonAsync<List<ShowDto>>("http://localhost:5247/api/show");
    }
}